<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Sentiment Comments {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="image">
        <img src="{{ url_for('static', filename='images/image.png') }}" alt="YouTube Logo" width="300">
    </div>

    <div class="hero">
        <h1>YouTube Comments Sentiment Analysis</h1>
    </div>

    <form action="/submit" method="POST">
        <input type="url" name="url" class="url_style" placeholder="Enter YouTube video URL">
    </form>

    {% block content %}
    {% endblock %}
</body>
</html>
